<head>
  <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- WARNING: I haven't personally vetted the following QRcode library. This should be addressed before moving to production or popularizing this tool.-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
  <script>

    window.onload = function() {
      window.app = new Vue({
        el: '#app',
        data: {
          connectionStatusOutput: "Loading...",
          userAddressOutput: "Loading...",
          networkIDOutput: "Loading...",
          SMFactoryAddressOutput: "Loading...",
          transactions: [],
          SMAddressInput: "",
          SMOwner: "Loading...",
          billerAddressInput: "",
          billingRateInput: "",
          billingRateOutput: "Loading...",
          lastBilledOutput: "Loading..."
        },
        computed: {
          SMContractInstance: function() {
            return web3.eth.contract(SMABI).at(this.SMAddressInput);
          },
          userIsOwner: function() {
            return (web3.eth.accounts[0] == this.SMOwner);
          }
        },
        watch: {
          SMContractInstance: function() {
            // Update address QR code
            $("#SMAddressQR").html("");
            $("#SMAddressQR").qrcode(this.SMAddressInput);

            // Update output variables
            this.SMContractInstance.Owner({}, function(err, res) {
              console.log(res);
              window.app.SMOwner = res;
            });
          },
          billerAddressInput: function() {
            this.SMContractInstance.billers(this.billerAddressInput, function(err, res) {
              billingRateInWeiPerSecond = res[0];
              lastBilledTimestamp = res[1];

              billingRateInEthPerSecond = web3.fromWei(billingRateInWeiPerSecond, 'ether');
              billingRateInEthPerMonth = billingRateInEthPerSecond*(60*60*24*30);

              window.app.billingRateOutput = Number(billingRateInEthPerMonth);
              window.app.lastBilledOutput = Number(lastBilledTimestamp);
            })
          }
        }
      });

      if (typeof web3 !== "undefined") {
        window.web3 = new Web3(web3.currentProvider);
        app.connectionStatusOutput = "Connected!";
      }
      else {
        app.connectionStatusOutput = "Not connected :( Aborting.";
        return;
      }

      app.userAddressOutput = web3.eth.accounts[0];

      web3.version.getNetwork(function(err, res) {
        if (!err) { // I skip this later in this file. This is bad! Bad Logan
          if (res == 1) {
            app.networkIDOutput = "mainnet";
          }
          else if (res == 3) {
            app.networkIDOutput = "Ropsten";
          }
        }
        else {
          console.log(err);
        }
      });

      app.SMFactoryAddressOutput = SMFactoryAddress;

      // window.contractInstance.DepositHolder({}, function(err, res) {
      //   $('#DepositHolderOutput').text(res);
      // });
      // window.contractInstance.DepositSubmitter({}, function(err, res) {
      //   $('#DepositSubmitterOutput').text(res);
      // });
      // web3.eth.getBalance(contractAddress, function(err, res) {
      //   weiValue = res;
      //   etherValue = web3.fromWei(res, 'ether');
      //   $('#DepositBalanceOutput').text(etherValue.toString() + " ETH");
      // });

      window.SMFactoryInstance = web3.eth.contract(SMFactoryABI).at(SMFactoryAddress);
    }

    function callNewSubscriptionManager() {
      txObject = {gas: 600000, gasPrice: web3.toWei(20, 'gwei')};
      window.SMFactoryInstance.newSubscriptionManager(txObject, function(err, res) {
        if (err) {
          console.log(err);
        }
        else {
          app.transactions.push("Create SM contract tx: " + res);
        }
      });
    }

    function triggerDeposit() {
      depositAmountInEth = prompt("Deposit how much? (ETH)");

      depositAmountInWei = web3.toWei(depositAmountInEth, 'ether');

      txObject = {value: depositAmountInWei,
                  to: window.app.SMAddressInput,
                  gasPrice: web3.toWei(10, 'gwei')};

      web3.eth.sendTransaction(txObject, function(err, res) {
        if (err) {
          console.log("Error depositing ether: " + err);
        }
        else {
          app.transactions.push("deposit tx: " + res);
        }
      });
    }

    function triggerWithdraw() {
      withdrawAmountInEth = prompt("Withdraw how much? (ETH)");

      withdrawAmountInWei = web3.toWei(withdrawAmountInEth, 'ether');

      txObject = {gas: 600000, gasPrice: web3.toWei(10, 'gwei')};
      window.app.SMContractInstance.withdraw(withdrawAmountInWei, txObject, function(err, res) {
        if (err) {
          console.log("Error calling withdraw: " + err);
        }
        else {
          app.transactions.push("withdraw tx: " + res);
        }
      });
    }

    function callCallBill() {
      txObject = {gas: 600000, gasPrice: web3.toWei(10, 'gwei')};
      window.app.SMContractInstance.callBill(txObject, function(err, res) {
        if (err) {
          console.log("Error calling callBill: " + err);
        }
        else {
          app.transactions.push("callBill tx: " + res);
        }
      });
    }

    function callSetBillRate() {
      billerAddress = window.app.billerAddressInput;

      billingRateInEthPerMonth = web3.toBigNumber(prompt("New Billing Rate (Eth per 30 days)"));
      billingRateInWeiPerMonth = web3.toWei(billingRateInEthPerMonth, 'ether');
      billingRateInWeiPerSecond = billingRateInWeiPerMonth/(30*24*60*60);

      txObject = {gas: 600000, gasPrice: web3.toWei(10, 'gwei')};
      window.app.SMContractInstance.setBillRate(billerAddress, billingRateInWeiPerSecond, txObject, function(err, res) {
        if (err) {
          console.log("Error calling setBillRate: " + err);
        }
        else {
          app.transactions.push("setBillRate tx: " + res);
        }
      });
    }

    // function depositEther() {
    //   etherValue = Number(prompt("Depost how much ether?"));
    //   weiValue = web3.toWei(etherValue, 'ether');
    //   window.contractInstance.deposit({value:weiValue}, function(err, res) {
    //     $('#transactions').html($('#transactions').html() + "deposit tx broadcasted: " + res + "<br>");
    //   });
    // }
    //
    // function releaseDeposit() {
    //   window.contractInstance.returnDeposit({}, function(err, res) {
    //     $('#transactions').html($('#transactions').html() + "release tx broadcasted: " + res + "<br>");
    //   });
    // }
    //
    // function confiscateDeposit() {
    //   window.contractInstance.confiscateDeposit({}, function(err, res) {
    //     $('#transactions').html($('#transactions').html() + "confiscate tx broadcasted: " + res + "<br>");
    //   });
    // }
  </script>
</head>

<body>
  <div id="app">
    Connection status: {{connectionStatusOutput}}<br>
    <h2>Web3 Connection Info</h2>
      Network ID: {{networkIDOutput}}<br>
      User address: {{userAddressOutput}}
    <h2>Create New SubscriptionManager</h2>
      <button onclick="callNewSubscriptionManager()">Create New SubscriptionManager</button>
    <!--<h2>DepositManager contract info</h2>
      Contract Address: <span id="contractAddressOutput"></span><br>
      DepositHolder: <span id="DepositHolderOutput"></span><br>
      DepositSubmitter: <span id="DepositSubmitterOutput"></span><br>
      Contract Balance: <span id="DepositBalanceOutput"></span><br>
    <h2>Controls</h2>
      <button onclick="depositEther()">Deposit Ether</button>
      <button onclick="releaseDeposit()">Release Deposit</button>
      <button onclick="confiscateDeposit()">Confiscate Deposit</button>-->
    <h2>Transactions Broadcasted</h2>
      <div v-for="transaction in transactions">
        {{transaction}}<br>
      </div>
    <h1>SubscriptionManager Interaction</h1>
      SubscriptionManager contract address: <input v-model="SMAddressInput"><br>
      <div v-show="SMAddressInput != ''" id="SMInterface">
        <br>
        QR code for depositing:<br>
        <div id="SMAddressQR"></div><br>
        <button onclick="triggerDeposit()">deposit</button><br>
        <br>
        Owner: {{SMOwner}}<br>
        <button onclick="triggerWithdraw()">withdraw</button><br>
        <br>
        <button onclick="callCallBill()">trigger bill</buton>
      </div>
    <h2>Biller Info</h2>
      Address: <input v-model="billerAddressInput"><br>
      <br>
      Billing Rate: {{billingRateOutput}}<br>
      Last Billed: {{lastBilledOutput}}<br>
      <button v-show="userIsOwner" onclick="callSetBillRate()">Change Biller Rate</button>
      <!--Approved Billing Rate: <input v-model="billingRateInput"> ETH per 30 days<br>
      <button onclick="callSetBillRate()">Set Permissions</button>-->

  </div>

</body>

<script>
// CONTRACT INFO

SMFactoryAddress = "0x6d540C9f4357FE128c6B3300a12A16B38a5bCB3b";
SMFactoryABI = [
	{
		"constant": false,
		"inputs": [],
		"name": "newSubscriptionManager",
		"outputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"name": "subscriptionManagerAddresses",
		"outputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}
];
SMABI = [
	{
		"constant": false,
		"inputs": [
			{
				"name": "amount",
				"type": "uint256"
			}
		],
		"name": "withdraw",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [],
		"name": "callBill",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "billerAddress",
				"type": "address"
			},
			{
				"name": "newRate",
				"type": "uint256"
			}
		],
		"name": "setBillRate",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"name": "billers",
		"outputs": [
			{
				"name": "rate",
				"type": "uint256"
			},
			{
				"name": "lastBillTime",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "Owner",
		"outputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"name": "_Owner",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"payable": true,
		"stateMutability": "payable",
		"type": "fallback"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"name": "from",
				"type": "address"
			},
			{
				"indexed": false,
				"name": "amount",
				"type": "uint256"
			}
		],
		"name": "Deposit",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"name": "amount",
				"type": "uint256"
			}
		],
		"name": "Withdraw",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"name": "billerAddress",
				"type": "address"
			},
			{
				"indexed": false,
				"name": "newRate",
				"type": "uint256"
			}
		],
		"name": "BillRateSet",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"name": "billerAddress",
				"type": "address"
			},
			{
				"indexed": false,
				"name": "amountBilled",
				"type": "uint256"
			}
		],
		"name": "BillProcessed",
		"type": "event"
	}
];

</script>
