* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  box-sizing: border-box;
  background-color: #1F3C5A;
  overflow: auto;
  height: 100%;
  width:100%;
  position:absolute;
  font-size:16px;
}


.header {
  width:100%;
  overflow:hidden;
  text-align: center;
  margin: 60px 0;
}

h1 {
  font-size:50px;
  font-weight:bold;
  color: #EAA425;
}

h2 {
  color: white;
}

.site-main  {
    text-align: center;
}

.warnings {
  margin-top: 40px;
  margin-bottom: -20px;
}

.addressInputBlock {
  max-width: 450px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

/*max-width for large screens*/
.mainBlock {
  max-width: 1100px;
  width: 100%;
  display: block;
  margin: 0 auto;
}
