<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/index.css">
  <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- WARNING: I haven't personally vetted the following QRcode library. This should be addressed before moving to production or popularizing this tool.-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
  <script src="js/contractInfo.js"></script>
  <script src="js/index.js"></script>
</head>

<body>
  <div class ="warnings" hidden='true' >
    <div id="noWeb3AccountWarning" hidden='true' align='center' class = "row">
      <div class="alert alert-danger col-md-offset-3 col-md-6" style='display:inline-block;'>
        <p><strong>No Ethereum account found.</strong></p>
        <p>You are currently unable to initiate any commands. Make sure Metamask is installed and unlocked, and refresh.</p>
      </div>
    </div>
    <div id="networkWarning" hidden='true' align='center' class = "row" >
      <div class="alert alert-danger col-md-offset-3 col-md-6" style='display:inline-block;'>
        <p><strong>You are currently operating on the Ropsten testnet.</strong></p>
        <p>To interact with a real contract, change your Metamask network to the "Main" Ethereum network, and refresh.</p>
      </div>
    </div>
  </div>
  <div id="app">
    Connection status: {{connectionStatusOutput}}<br>
    <h2>Web3 Connection Info</h2>
      Network ID: {{networkIDOutput}}<br>
      User address: {{userAddressOutput}}
    <h2>Create New SubscriptionManager</h2>
      <button onclick="callNewSubscriptionManager()">Create New SubscriptionManager</button>
    <h2>Transactions Broadcasted</h2>
      <div v-for="transaction in transactions">
        {{transaction}}<br>
      </div>
    <h1>SubscriptionManager Interaction</h1>
      SubscriptionManager contract address: <input v-model="SMAddressInput"><br>
      <div v-show="SMAddressInput != ''" id="SMInterface">
        <br>
        QR code for depositing:<br>
        <div id="SMAddressQR"></div><br>
        <button onclick="triggerDeposit()">deposit</button><br>
        <br>
        Owner: {{SMOwner}}<br>
        <button onclick="triggerWithdraw()">withdraw</button><br>
        <br>
        <button onclick="callCallBill()">trigger bill</buton>
      </div>
    <h2>Biller Info</h2>
      Address: <input v-model="billerAddressInput"><br>
      <br>
      Billing Rate: {{billingRateOutput}}<br>
      Last Billed: {{lastBilledOutput}}<br>
      <button v-show="userIsOwner" onclick="callSetBillRate()">Change Biller Rate</button>

  </div>

</body>
